/*============================================
============== Basic Style ==================
============================================= */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.clear {
  content: "";
  clear: both;
}

/*============================================
============== Header Style ==================
============================================= */

nav {
  width: 1272px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Main-Menu ul li {
  display: inline-block;
}

.Main-Menu ul li a {
  font-size: 14px;
  padding: 10px 15px;
  line-height: 1.5rem;
  display: inline-block;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Main-Menu ul .active {
  color: #34339d;
}

.Main-Menu ul li a:hover {
  color: #34339d;
  transition: all 0.3s;
}

.dp-1 {
  display: none;
  width: 150px;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  position: absolute;
  z-index: 333;
  border-radius: 5px;
}

.dp-1 ul li a {
  font-size: 14px;
  padding: 3px 15px;
  display: inline-block;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.7);
}

.dp-2 {
  width: 150px;
  height: auto;
  display: block;
  background-color: white;
  position: absolute;
  left: 150px;
  margin-top: -20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
  z-index: 333;
  border-radius: 5px;
}

.dp-2 ul li a {
  font-size: 14px;
  padding: 3px 15px;
  display: inline-block;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.7);
}

.fa-caret-down {
  padding-left: 5px;
}

.fa-caret-right {
  padding-left: 50px;
}

.Main-Menu ul li:hover .dp-1 {
  display: block;
}

.Main-Menu ul li .dp-1 ul li:hover .dp-2 {
  display: block;
}

.Main-Menu ul .btn {
  padding: 6px 20px;
  background: #081158;
  border: 2px solid #081158;
  color: #fbb244;
  border-radius: 30px;
  margin-left: 20px;
  font-size: 14px;
  display: inline-block;
}

#check {
  display: none;
}
.checkbox {
  display: none;
}
/*============================================
============== Hero Section started ========
============================================= */
.hero {
  width: 1272px;
  height: 550px;
  margin: 0 auto;
  margin-top: 75px;
}

.hero-left {
  width: 50%;
  float: left;
  opacity: 1;
  transform: translateZ(0);
  transition-delay: 0.1s;
  transition-duration: 0.8s;
  transition-property: opacity;
}

.hero-left p {
  display: inline-block;
  padding: 5px 20px;
  color: #fbb244;
  text-transform: uppercase;
  background-color: rgba(251, 178, 68, 0.2);
  border-radius: 30px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 8px;
}

.hero-left h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #081158;
  transition-delay: 0.1s;
  width: 516px;
  height: auto;
  margin-bottom: 16px;
  line-height: 1.2;
}

.hero-left h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5) !important;
  width: 516px;
  margin-bottom: 3rem;
  line-height: 1.2rem;
}

.hero-left .btn1 {
  background: #081158;
  color: #fff !important;
  padding: 12px 30px;
  border-radius: 30px;
  border: 1px solid #081158;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

.hero-left .btn2 {
  background: transparent;
  color: #081158 !important;
  padding: 12px 30px;
  border-radius: 30px;
  border: 1px solid #081158;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.hero-left .btn2:hover {
  background: #081158;
  color: #fff !important;
  padding: 12px 30px;
  border-radius: 30px;
  border-color: #081158;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

.hero-left .btn1:hover {
  background: transparent;
  color: #081158 !important;
  padding: 12px 30px;
  border-radius: 30px;
  border: 1px solid #081158;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.hero-right {
  width: 50%;
  float: right;
  transition: all 0.3s;
}

.hero-right img {
  width: 624px;
  height: 396px;
}

/*============================================
==============Faq section style===============
============================================= */

#Faq {
  width: 100%;
  height: 612px;
  background-color: #f8f9fa;
}

.faq-top {
  width: 1272px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}
.faq-top p {
  display: inline-block;
  padding: 5px 20px;
  color: #fbb244;
  text-transform: uppercase;
  background-color: rgba(251, 178, 68, 0.2);
  border-radius: 30px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.faq-top h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #081158;
  transition-delay: 0.1s;
  line-height: 1.2rem;
  margin-top: 25px;
}

.faq-top h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5) !important;
  margin-bottom: 1rem;
  width: 827px;
  margin: 0 auto;
  line-height: 1.2rem;
  margin-top: 2rem !important;
}

.faq-main {
  width: 1272px;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
}

.faq-main ul li {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 15px;
  background-color: white;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*============================================
==============testomonials area started ======
============================================= */

.testomonilas {
  width: 1280px;
  height: auto;
  margin: 0 auto;
}

.testimonials-top {
  margin-top: 120px;
  text-align: center;
}

.testimonials-top p {
  display: inline-block;
  padding: 5px 20px;
  color: #fbb244;
  text-transform: uppercase;
  background-color: rgba(251, 178, 68, 0.2);
  border-radius: 30px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.testimonials-top h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #081158;
  transition-delay: 0.1s;
  line-height: 1.2rem;
  margin-top: 25px;
}

.testimonials-top h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5) !important;
  margin-bottom: 1rem;
  width: 827px;
  margin: 0 auto;
  line-height: 1.2rem;
  margin-top: 2rem !important;
}

.testomilas-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 50px;
}
.flexbox-content {
  width: 416px;
  height: 270px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 30px;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.5s;
}
.flexbox-content:hover {
  border: 1px solid #081158;
}

.flexbox-content p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  line-height: 1.5;
  text-align: left !important;
}
.test-info {
  width: 70%;
  height: auto;
  display: block;
  margin-top: 35px;
}

.flexbox-content img {
  max-width: 50px;
  height: auto;
  border-radius: 50%;
  float: left;
}

.name-info {
  float: left;
  margin-left: 20px;
}

.name-info h3 {
  font-size: 16px !important;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
}
.name-info h4 {
  font-size: 14px !important;
  color: #6c757d;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
}

/*============================================
==============Footer section started========
============================================= */
#footer {
  width: 1280px;
  height: 370px;
  margin: 0 auto;
}
.footer-container {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-1 {
  width: 400px;
}

.footer-1 h1 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.footer-1 p {
  font-size: 14px;
  color: #888;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

.footer-1 ul li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #081158;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
}
.footer-1 ul li a {
  color: #fff;
  line-height: 1.8rem;
}

.footer-1 ul li a i {
  font-size: 15px;
}

.footer-2 h1 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
  font-family: "Open Sans", sans-serif;
}
.footer-2 ul li {
  display: block;
  margin-top: 16px;
}
.footer-2 ul li a {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.footer-2 ul li a:hover {
  color: #000;
}
.footer-2 ul li a i {
  margin-right: 15px;
}

.copywirte {
  width: 1272px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copywirte h1 {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
/*============================================
==============Responsive area started ========
============================================= */

/*============================================
==============Responsive area Navbar ========
============================================= */

@media (max-width: 768px) {
  .Main-Menu ul li:hover .dp-1 {
    display: none;
  }

  .Main-Menu ul li .dp-1 ul li:hover .dp-2 {
    display: none;
  }

  nav {
    width: 450px;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
  }
  .logo {
    width: 350px;
    height: auto;
    float: left;
    padding-left: 20px;
  }

  .checkbox {
    display: block;
    width: 50px;
    display: block;
    height: auto;
    cursor: pointer;
    text-align: right;
    position: relative;
    float: right;
  }

  .checkbox .fa-bars {
    font-size: 28px;
    line-height: 32px;
  }

  label {
    width: 100px;
    display: inline-block;
    z-index: 8888;
  }

  .Main-Menu ul {
    width: 200px;
    height: 100vh;
    position: fixed;
    display: block;
    text-align: left;
    float: right;
    margin-top: -50px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    border-radius: 10px;
    right: -200%;
    transition: all 0.9s;
    z-index: 555;
  }

  .Main-Menu ul li {
    display: block;
  }

  .Main-Menu ul li i {
    display: none;
  }

  .Main-Menu ul li a {
    padding: 10px 0px;
  }

  .Main-Menu ul .btn {
    margin-left: 0px;
    background-color: transparent;
    font-size: 14px;
    padding-left: 0px;
    line-height: 1.5rem;
    display: inline-block;
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    border: none;
  }

  #check:checked ~ ul {
    right: 0;
  }

  .home {
    margin-top: 100px;
  }
}
/*============================================
==============Hero Section Responsive ========
============================================= */

@media (max-width: 768px) {
  .hero {
    width: 500px;
    height: auto;
    display: block;
  }

  .hero-left {
    width: 100%;
    height: auto;
    margin-top: 120px;
    margin-left: 20px;
  }

  .hero-left p {
    margin-bottom: 8px;
  }

  .hero-left h1 {
    width: 400px;
    height: auto;
    margin-bottom: 16px;
  }

  .hero-left h6 {
    width: 450px;
    margin-bottom: 3rem;
  }

  .hero-right {
    width: 500px;
    height: auto;
    display: block;
    text-align: left;
    position: relative;
  }

  .hero-right img {
    width: 460px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
/*============================================
==============Faq Section Responsive ========
============================================= */

@media (max-width: 500px) {
  #Faq {
    width: 500px;
    height: auto;
    margin-top: 0px;
    background-color: #f8f9fa;
    margin-bottom: 30px;
  }

  .faq-top {
    width: 500px;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  .faq-top p {
    margin-bottom: 15px;
  }

  .faq-top h1 {
    font-size: 28px;
    line-height: 1rem;
  }

  .faq-top h2 {
    width: 450px;
    margin: 0 auto;
    line-height: 1.2rem;
    margin-top: 2rem !important;
  }

  .faq-main {
    width: 1272px;
    height: auto;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 20px;
  }
}
/*============================================
======Testomonilas Section Responsive ========
============================================= */
@media (max-width: 500px) {
  .testomonilas {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .testimonials-top h2 {
    width: 450px;
  }

  .flexbox-content {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

/*============================================
======Footer Section Responsive ==============
============================================= */
@media (max-width: 500px) {
  #footer {
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .footer-container {
    width: 100%;
    height: auto;
    display: block;
    text-align: left;
  }
  .footer-1 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .footer-1 p {
    width: 420px;
  }

  .footer-2 {
    margin-bottom: 20px;
  }

  .copywirte {
    width: 80%;
    height: 100px;
    display: block;
    text-align: center;
  }
  .copywirte h1 {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
  }
}
